.profile-screen{
	width: 70%;
	height: 100%;

	display: flex;
	flex-direction: column;
	flex-shrink: 0;

	border-radius: 20px;
	background: #FFF;
	margin-bottom: 80px;
}


.profile-info{
	display: flex;
	flex-direction: row;
	width: 100%;

	gap: 100px;
}


.header{
	width: 100%;
	height: 104px;
	
	display: flex;
	flex-direction: row;

	color: #000;
	font-family: Inter;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	align-content: center;

	padding: 80px;
	padding-bottom: 120px;
}


.profile-user-info{
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;

	color: #000;
	font-family: Inter;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

	margin-left: 55px;
}


.profile-username, .profile-email{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 25px;
	
}


.profile-bubbles{
	width: 300px;
	max-width: 1000px;

	display: flex;
  	flex-direction: row;

	padding: 20px; 
	margin-right: auto;
	margin-top: 10px;
	/* margin-bottom: 25px; */
	
	background: #D9D9D9;
	border-radius: 10px;

	color: #000;
	font-family: Inter;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}



.profile-note{
	display: flex;
	flex-direction: column;

	width: 100%;
	padding: 40px;
	padding-top: 40px;
	
	color: #000;
	font-family: Inter;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
