.about-us-screen{
	width: 70%;
	height: 100%;

	display: flex;
	flex-direction: column;
	flex-shrink: 0;

	border-radius: 20px;
	background: #FFF;
	margin-bottom: 80px;
	margin-top: 72px;
}

.login-header{
	width: 100%;
	height: 104px;
	
	display: flex;
	flex-direction: row;

	color: #000;
	font-family: Inter;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	align-content: center;

	padding: 80px;
	/* padding-bottom: 120px; */
}

.logo{
    display: flex;
    padding: 100px;
    padding-top: 75px;
}

.team-members{
    display: flex;
    flex-direction: column;
    padding: 100px;
    font-size: 30px;
    padding-top: 30px;
}

.aboutus-info{
    display: flex;
}