.your-ideas-screen{
	width: 70%;
	height: 100%;

	display: flex;
	flex-direction: column;
	flex-shrink: 0;

	border-radius: 20px;
	background: #FFF;
	margin-bottom: 80px;
}

.your-ideas-header{
	width: 100%;
	height: 204px;
	
	display: flex;
	flex-direction: row;

	color: #000;
	font-family: Inter;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	align-content: center;
	padding: 80px;
}


.add-idea-button{
	width: 220px;
	height: 72px;

	display: flex;
	justify-content: center;
	flex-shrink: 0;

	border-radius: 10px;
	background: #6A492A;

	color: #FFF;
	text-align: center;
	font-family: Inter;
	font-size: 35px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	margin-left: auto;
	padding: 5px;
}
.add-idea-button:hover{
	box-shadow: 1px 3px 5px rgb(94, 55, 4);
}
.file-upload-button{
	width: 220px;
	height: 72px;

	display: flex;
	justify-content: center;
	flex-shrink: 0;

	border-radius: 10px;
	background: #6A492A;

	color: #FFF;
	text-align: center;
	font-family: Inter;
	font-size: 35px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	margin-left: 20px;
	padding: 5px;
}

.idea-preview {
	width: 80%;
	max-width: 1000px;

	display: flex;
  	flex-direction: row;

	padding: 30px; 
	margin: 40px auto;
	margin-bottom: 50px;
	
	background: #D9D9D9;
	border-radius: 10px;
}

.idea-preview h1{
	color: #000;
	font-family: Inter;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.idea-content{
	display: flex;
	flex-direction: row;
	width: 100%;
}

.message-side{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.message{
	display: flex;
	
}

.update-buttons{
	display: flex;
	flex-direction: column;
	align-content: right;
	margin-left: auto;
	gap: 20%;

	font-family: Inter;
	font-size: 25px;
	font-style: normal;
	text-align: center;
	
	gap: 20px;
	color: #FFF;
}


.edit-button, .delete-button{
	border-radius: 10px;
	background: #979797;
	padding: 10px;
}


.likes{
	display: flex;
	width: 50%;
	gap: 15px;
	margin-top: auto;
	/* padding-top: 20px; */
}

.like-count p{
	display: flex;
	font-size: 32px;
	width: 75px;
	justify-content: right;
	margin-left: 0px;
}

.like-buttons{
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.edit-field{
	display: flex;
	flex-direction: row;
	width: 100%;
}

.save-button{
	display: flex;
	border-radius: 10px;
	background: #6A492A;
	font-family: Inter;
	font-size: 25px;
	font-style: normal;
	text-align: center;
	color: #FFF;
	margin-left: auto;
	padding: 10px;
}


.edit-button:hover, .delete-button:hover, .idea-preview:hover {
	box-shadow: 1px 3px 5px rgb(94, 55, 4);
}
.selectedFileName{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 10px;
	color: #000;
}
.submit-link-button{
	display: flex;
	border-radius: 10px;
	background: #6A492A;
	font-family: Inter;
	font-size: 25px;
	font-style: normal;
	text-align: center;
	color: #FFF;
	margin-left: auto;
	padding: 10px;
	margin-top: 10px;
	cursor: pointer;
}
.file-upload-button:hover{
	box-shadow: 1px 3px 5px rgb(94, 55, 4);
}
.file-input-style{
	font-size: 16px;
	font-family: Inter;
	text-align: center;
}