.login-screen{
	width: 70%;
	height: 100%;

	display: flex;
	flex-direction: column;
	flex-shrink: 0;

	border-radius: 20px;
	background: #FFF;
	margin-bottom: 80px;
	margin-top: 72px;
}

.login-header{
	width: 100%;
	height: 104px;
	
	display: flex;
	flex-direction: row;

	color: #000;
	font-family: Inter;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	align-content: center;

	padding: 80px;
	/* padding-bottom: 120px; */
}

.signed-in{
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	padding: 100px;
	/* border: solid; */

}

.username{
	display: flex;
	justify-content: center;
	flex-shrink: 0;

	color: #6A492A;
	text-align: center;
	font-family: Inter;
	font-size: 35px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	/* padding: 50px; */

}


.sign-out-button{
	width: 100px;
	height: 50px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-shrink: 0;

	border-radius: 10px;
	background: #6A492A;

	color: #FFF;
	text-align: center;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	margin-left: auto;
	padding: 5px;
}