.your-comments-screen{
	width: 70%;
	height: 100%;

	display: flex;
	flex-direction: column;
	flex-shrink: 0;

	border-radius: 20px;
	background: #FFF;
	margin-bottom: 80px;
}

.comment-screen-header{
	width: 100%;
	height: 104px;
	
	display: flex;
	flex-direction: row;

	color: #000;
	font-family: Inter;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	align-content: center;

	padding: 80px;
	padding-bottom: 120px;
    padding-top: 50px;
	
}

.new-comment-button{
	border-radius: 10px;
	/* background: #979797; */
	padding: 10px;

	width: 500px;
	height: 72px;

	display: flex;
	justify-content: center;
	flex-shrink: 0;


	color: #FFF;
	font-family: Inter;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

    margin: 0 auto;
	padding: 5px; 
}

